<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IntervalInSecond" value="10"/>
    <add key="PaymentsDBConnectionString" value="Data Source=172.22.0.26;Initial Catalog=PaymentsDB;Persist Security Info=True;User ID=sa;Password=Fsbank069"/>
    <add key="LogFile" value="C:\\CheckOutLog\\Log.txt"/>
    <add key="TblMailServer" value="172.22.1.118"/>
    <add key="TblMailServerPort" value="25"/>
    <add key="TblEmailName" value="Trust Bank Checkout"/>
    <add key="TblUserName" value="noreply"/>
    <add key="TblPassword" value="itadmin;123"/>
    <add key="TblEmailFrom" value="noreply@trustbanklimited.com"/>
    <add key="EmailType" value="EXCHANGE"/>
    <add key="ExchangeUrl" value="https://172.20.1.18/ews/Exchange.asmx"/>
    <add key="ExchangeUserName" value="noreply"/>
    <add key="ExchangeUserPassword" value="ITAdmin#069"/>
    <add key="ExchangeDomain" value="tblbd"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
