<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TblUrlCallingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IntervalInSecond" value="10"/>
    <add key="RemittanceConnectionString" value="Data Source=172.22.0.26;Initial Catalog=Remittance;Persist Security Info=True;User ID=ituser;Password=Fsbank069"/>
    <add key="LogFile" value="C:\\CheckOutLog\\Log.txt"/>
    <add key="Transfast_KeyCode" value="A46BD809-4659-4529-B9A7-B9DA4A523E4B"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TblUrlCallingService.Properties.Settings>
            <setting name="TblUrlCallingService_TfService_TransfastService"
                serializeAs="String">
                <value>http://localhost:60090/TransfastService.asmx</value>
            </setting>
        </TblUrlCallingService.Properties.Settings>
    </applicationSettings>
</configuration>